<h3> Factura  ::::: Total a Pagar: {{ calcularTotal() }}</h3>

    <table>
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th class="derecho">Precio</th>
            </tr>
        </thead>
        <tbody>
                <tr *ngFor="let producto of arrProductos; let indice = index;" (click)="onClickBorrar(indice)">
                    <td appResaltado>{{ producto.nombre }} </td>
                    <td class="centrado">{{ producto.cantidad }} </td>
                    <td class="derecho">${{ producto.precio * producto.cantidad }} </td>
                </tr>
        </tbody>
    </table>

