h3 {
    text-transform: uppercase;
    background-color: lightgray ;
    padding: 10px;
}

h6 {
    font-size: large;
    color: blue;
}

table {
  border: 1px solid coral;
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: chartreuse;
  border-collapse: collapse;
}

.centrado {
    text-align: center;
}

.derecho {
    text-align: right;
}

tr:nth-child(even)
 {
  padding: 5px;
  background-color:blanchedalmond;
 }

tr:hover
 {
  background-color:darkgray;
 }

table, th, tr, td{
  border: 1px solid bisque;
}
